:root {
  --primary-color: 113, 154, 208;
  --accent-color: 242, 229, 138;
  --body: 241, 237, 236;
  --pink: 230, 213, 209;
  --black: 0, 0, 0;
  --question: 68, 89, 168;
  --select: 83, 83, 83;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  a {
    text-decoration: none;
    color: black;
    &:active {
      color: inherit;
      text-decoration: none;
    }
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  button {
    border: 0;
    background: transparent;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 99;
  }
  select {
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
  i {
    font-style: normal;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  height: 70px;
  align-items: center;
}

@font-face {
  font-family: "zpix";
  src: url(/fonts/zpix.ttf);
}

// layout css
.layout-block {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  overflow: hidden;
  .layout-bg-left {
    background: rgb(var(--primary-color));
    flex-grow: 1;
    position: relative;
    //左側主要內容區
    .content {
      padding-inline: 54px 8px;
      .top {
        display: flex;
        gap: 1rem;
        margin-block: 2rem;
        .question {
          cursor: pointer;
          position: relative;
          z-index: 3;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 3px solid black;
          background: #4459a8;
          margin-left: auto;
          margin-right: 120px;
          i {
            font-size: 36px;
          }
        }
      }
      .middle {
        margin-inline: 3rem;
        > div {
          .active {
            background: #ffcc00;
          }
        }
        .monster-card {
          width: 100px;
          height: 100px;
          padding: 4px;
        }
      }
      .bottom {
        position: relative;
        z-index: 1;
        height: calc(100vh - 80px - 2rem * 2);
        overflow-y: auto;
        padding-bottom: 4rem;
        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #719ad0; /* 滑塊顏色 */
          border-radius: 4px; /* 滑塊圓角 */
          border: 2px solid #ddd; /* 滑塊邊框 */
        }
        &::-webkit-scrollbar-track {
          background: #f1f1f1; /* 背景顏色 */
          border-radius: 8px; /* 背景圓角 */
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: #45a049; /* 滑塊顏色懸停 */
        }
        .monster-block {
          padding: 20px;
          margin: 5px;
          .monster {
            width: 120px;
            height: 120px;
            img {
              height: 100px;
            }
            &.active {
              background: #ffcc00;
            }
          }
        }
      }
    }
  }
  .layout-bg-right {
    flex-shrink: 0;
    background: rgb(var(--accent-color));
    // width: 476px;
    width: 24.6vw;
    position: relative;
    padding: 41px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .nav {
      width: 100%;
      display: flex;
      .nav-btn {
        flex-grow: 1;
        cursor: pointer;
        height: 150px;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
        svg {
          font-size: 70px;
        }
        &.active {
          // width: 246px;
          width: 12vw;
        }
      }
    }
    .pet-select-list {
      > div {
        &:nth-child(odd) {
          background-color: rgba(var(--primary-color), 0.5);
        }
        &:nth-child(even) {
          background-color: rgba(var(--primary-color), 0.2);
        }
        &:first-child {
          background-color: rgb(var(--primary-color));
          border-radius: 12px 12px 0 0;
        }
      }
      span {
        position: relative;
      }
      .cancle {
        cursor: pointer;
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -38px;
        svg {
          background: black;
          color: white;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          font-size: 30px;
        }
      }
      &:hover .cancle:hover + .grid {
        background-color: red !important; /* 強制覆蓋背景色 */
      }
    }
    .skill {
      flex-grow: 1;
      padding: 16px;
      line-height: 2;
      background-color: rgb(var(--body));
    }
  }
}

// 黑色border外框
.black-block {
  position: relative;
  z-index: 1;
  background: rgb(var(--body));
  border: 3px solid rgb(var(--black));
  border-radius: 16px;
  box-shadow: 5px 5px rgba(var(--black), 0.5);
}

// card
.monster {
  width: 200px;
  height: 220px;
  border-radius: 30px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 2px;
  cursor: pointer;
  img {
    height: 150px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }
  .title {
    position: absolute;
    bottom: -16px;
    width: min-content;
    border-radius: 10px;
    box-shadow: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-width: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px 16px;
  }
  .prop {
    padding-block: 1rem;
    display: flex;
    gap: 6px;
    font-size: 12px !important;

    span {
      font-family: Georgia, "Times New Roman", Times, serif;
      color: white;
      width: 35px;
      height: 15px;
      border-radius: 50px;
      background-color: rgb(var(--primary-color));
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.active {
    background: #ffcc00;
  }
}
// one monster
.one-monster-data {
  padding: 16px;
  width: 100%;
  height: 200px;
  position: relative;
  background: white;
  border-radius: 12px;
  border: 3px solid rgb(190, 189, 189);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
  img {
    width: 100%;
    object-fit: contain;
  }
  .label {
    position: absolute;
    left: -16px;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    .attr {
      border: 1px solid rgb(247, 246, 246);
      box-shadow: 2px 2px gray;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #7ed9cd;
      width: 90px;
      padding: 3px 5px;
    }
    .shape {
      border: 1px solid rgb(190, 189, 189);
      box-shadow: 2px 2px gray;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #80a9df;
      width: 30px;
      padding: 3px 5px;
    }
    .eth {
      border: 1px solid rgb(190, 189, 189);
      box-shadow: 2px 2px gray;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #6cbf97;
      width: 60px;
      padding: 3px 5px;
    }
  }
  .name {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px 0 0;
    font-size: 30px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(var(--primary-color));
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  }
  .level {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 36px;
    font-weight: bolder;
    padding: 0 0 3px 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.2);
  }
}
// SELECT
.select {
  position: relative;
  cursor: pointer;
  .option {
    // width: 294px;
    width: 15vw;
    height: calc(75px - 5px * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 24px;
    border-radius: 50px;
    span {
      font-weight: bolder;
      letter-spacing: 2px;
    }
    i {
      font-size: 32px;
    }
  }
  .s-content {
    position: absolute;
    z-index: 5;
    top: 62px;
    width: 97%;
    display: flex;
    flex-direction: column;
    border-radius: none;
    div {
      height: 30px;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      &:hover {
        background: rgb(var(--pink));
        border-radius: 0px;
        &:first-child {
          border-radius: 12px 12px 0 0;
        }
        &:last-child {
          border-radius: 0 0 12px 12px;
        }
      }
    }
  }
}
// SCROLL
.scroll-search {
  padding-inline: 32px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  transition: all 0.3s ease;
  position: relative;
  > button {
    flex: 1;
    text-align: center;
    cursor: pointer;
    width: 25%;
    position: relative;
    z-index: 2;
  }
  .btn-active {
    position: absolute;
    bottom: 0;
    left: 32px;
    width: calc(25% - 16px);
    height: calc(100% - 8px);
    margin-block: 4px;
    border-radius: 100px;
    background: rgb(var(--primary-color));
    border: 3px solid #b1c0d4;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    color: white;
  }
}
.question-block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 95%;
  height: 650px;
  padding: 2rem;
  > button {
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: -15px;
    border-radius: 50%;
    transform: rotate(45deg);
    svg {
      font-size: 80px;
    }
  }
  .skill-list {
    display: flex;
    justify-content: space-between;
  }
}

// slider
.slick-slider {
  width: 65vw;
  height: 120px;
  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: 100%;
    > div {
      width: 100px;
      height: 100%;
      margin: 8px 16px;
    }
  }
}

.disclaimer {
  margin-top: auto;
  width: 100%;
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .layout-block {
    .layout-bg-right {
      display: none;
    }
    .layout-bg-left {
      .content {
        padding-inline: 1rem;
        .bottom {
          &::-webkit-scrollbar {
            display: none;
          }
          height: 100vh; //重新計算一下總高
          align-items: center;
        }
      }
    }
  }
  .mobile-block {
    width: 100%;
    display: grid;
    grid-template-columns: 85px 70px auto;
    grid-template-rows: 70px 75px 75px 75px;
    grid-template-areas:
      "nav list content"
      "select1 select1 content"
      "select2 select2 content"
      "select3 select3 content";
    .m-nav {
      grid-area: nav;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
    }

    .m-list-btn {
      grid-area: list;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
    }
    .m-select1 {
      grid-area: select1;
      cursor: pointer;
    }
    .m-select2 {
      grid-area: select2;
      cursor: pointer;
    }
    .m-select3 {
      grid-area: select3;
      cursor: pointer;
    }
    .m-content {
      grid-area: content;
      padding: 16px;
      line-height: 1.8;
      overflow-y: auto;
    }
  }
  .mobile-background-line {
    position: absolute;
    top: 0;
    left: 300px;
    width: 816px;
    height: 1324px;
    background: rgb(var(--pink));
    transform: rotate(19.44deg);
  }
  .monster {
    width: 43vw;
    margin-right: 0;
  }
  .question-block {
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px 0 0 16px;
    width: 94%;
    height: calc(100vh - 30px - 6px);
    > button {
      right: -25px;
      top: -25px;
      transform: rotate(135deg);
    }
    .skill-list {
      flex-direction: column;
      gap: 5rem;
      overflow-y: auto;
      height: calc(100vh - 30px - 4rem);
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
  .select {
    .option {
      width: 100%;
      height: auto;
      padding: 16px;
      font-size: 24px;
      border-radius: 0;
      span {
        letter-spacing: 0;
      }
      i {
        font-size: 30px;
      }
    }
    .s-content {
      top: 68px;
    }
  }
}
