:root {
  --primary-color: 113, 154, 208;
  --accent-color: 242, 229, 138;
  --body: 241, 237, 236;
  --pink: 230, 213, 209;
  --black: 0, 0, 0;
  --question: 68, 89, 168;
  --select: 83, 83, 83;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(var(--primary-color));
  margin: 0;
  color: black;
  -webkit-overflow-scrolling: touch;
  a {
    text-decoration: none;
    color: black;
    &:active {
      color: inherit;
      text-decoration: none;
    }
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  button {
    border: 0;
    background: transparent;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 99;
  }
  select {
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
  i {
    font-style: normal;
  }
}

@font-face {
  font-family: "zpix";
  src: url(/fonts/zpix.ttf);
}

// navbar
.navbar-layout{
  display: flex;
  gap: 12px;
  a{
    padding: 8px 12px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


// monster

.select {
  width: 100%;
  padding: 8px 32px;
  font-size: 16px;
  border: 1px solid #ccc;
  .option {
    background-color: #f0f0f0;
    color: black;
    font-size: 14px;
    padding: 10px;
  }
}

.black-block {
  position: relative;
  background: rgb(var(--body));
  border: 2px solid rgb(var(--black));
  border-radius: 16px;
  box-shadow: 5px 5px rgba(var(--black), 0.5);
}

.monster-card {
  width: 180px;
  height: 160px;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .img {
    height: 100px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }
  .title {
    position: absolute;
    bottom: -16px;
    width: min-content;
    border-radius: 10px;
    box-shadow: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-width: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px 16px;
  }
  .prop {
    height: 30px;
    display: flex;
    gap: 6px;
    font-size: 12px !important;
    span {
      font-family: Georgia, "Times New Roman", Times, serif;
      color: white;
      width: 35px;
      height: 15px;
      border-radius: 50px;
      background-color: rgb(var(--primary-color));
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.active {
    background: #ffcc00;
  }
}

.delete-td {
  cursor: pointer;
}

.block{
  height: 100px;
}
.question {
  cursor: pointer;
  position: relative;
  z-index: 3;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid black;
  background: #4459a8;
  i {
    font-size: 36px;
  }
}
.question-block {
  position: absolute;
  top: 30px;
  left: 20px;
  bottom: 10px;
  z-index: 5;
  width: 95%;
  padding: 2rem;
  > button {
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: -15px;
    border-radius: 50%;
    transform: rotate(45deg);
    svg {
      font-size: 80px;
    }
  }
  .skill-list {
    display: flex;
    justify-content: space-between;
  }
}

// material

.material-card {
  cursor: pointer;
  padding: 8px 12px;
  width: 100%; /* 確保卡片寬度自適應 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 將內容垂直居中 */

  .material-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 使圖片容器寬度自適應 */
    height: auto; /* 確保圖片容器高度自動調整 */

    img {
      width: 80px;  /* 設定圖片寬度 */
      height: 80px; /* 設定圖片高度 */
      object-fit: contain; /* 保證圖片不變形，並保持其完整性 */
    }
  }

  span {
    margin-top: 8px; /* 提供一些間距，避免文字太緊 */
    text-align: center; /* 確保文字居中 */
    white-space: nowrap; /* 避免文字換行 */
    overflow: hidden; /* 隱藏超出範圍的文字 */
    text-overflow: ellipsis; /* 使用省略號顯示超過範圍的文字 */
  }
}

.monster-scroll{
  overflow: hidden;
  // overflow-y: scroll;
}

.monster-id{
  min-height: 300px;
}

.slick-slide {
  margin: 0 10px; /* 每個滑動項目左右各有 10px 間距 */
}

.one-monster-data {
  margin-left: auto;
  padding: 16px;
  width: 90%;
  height: 200px;
  position: relative;
  background: white;
  border-radius: 12px;
  border: 3px solid rgb(190, 189, 189);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
  img {
    width: 100%;
    object-fit: contain;
  }
  .label {
    position: absolute;
    left: -32px;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    .attr {
      border: 2px solid rgb(247, 246, 246);
      box-shadow: 1px 1px rgb(83, 83, 83);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #7ed9cd;
      width: 60px;
      padding: 3px 5px;
      white-space: nowrap;
    }
    .shape {
      border: 2px solid rgb(247, 246, 246);
      box-shadow: 1px 1px rgb(83, 83, 83);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #80a9df;
      width: 90px;
      padding: 3px 5px;
      white-space: nowrap;
    }
    .eth {
      border: 2px solid rgb(247, 246, 246);
      box-shadow: 1px 1px rgb(83, 83, 83);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #6cbf97;
      width: 60px;
      padding: 3px 5px;
      white-space: nowrap;
    }
  }
  .name {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px 0 0;
    font-size: 30px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(var(--primary-color));
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  }
  .level {
    position: absolute;
    bottom: 0;
    right: 16px;
    font-size: 36px;
    font-weight: bolder;
    padding: 0 0 3px 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.2);
  }
  .type{
    position: absolute;
    bottom: 70px;
    right: 30px;
    padding: 6px;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(var(--black));
    font-weight: bolder;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
}

// active color

.active{
  background-color: rgb(var(--accent-color));
}

.pointer{
  cursor: pointer;
}

.frame{
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}




@media screen and (max-width: 768px) {
  .navbar-layout{
      justify-content: center;
  }
  .question{
    position: absolute;
    top: 8px;
    width: 40px;
    height: 40px;
    i {
      font-size: 16px;
    }
  }
  .pet-show{
    margin-bottom: 4rem;
  }
  .monster-card{
    margin-bottom:18px;
    width: 150px;
  }

}
