.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  height: 70px;
  align-items: center;
}

// root
:root {
  --primary-color: 113, 154, 208;
  --accent-color: 242, 229, 138;
  --body: 241, 237, 236;
  --pink: 230, 213, 209;
  --black: 0, 0, 0;
  --question: 68, 89, 168;
  --select: 83, 83, 83;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  a {
    text-decoration: none;
    color: black;
    &:active {
      color: inherit;
      text-decoration: none;
    }
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  button {
    border: 0;
    background: transparent;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 99;
  }
  select {
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
  i {
    font-style: normal;
  }
}

@font-face {
  font-family: "zpix";
  src: url(/fonts/zpix.ttf);
}
// layout css
.layout-block {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  overflow: hidden;
  .layout-bg-left {
    background: rgb(var(--primary-color));
    flex-grow: 1;
    position: relative;
    //左側主要內容區
    .content {
      padding-inline: 54px 8px;
      .top {
        display: flex;
        gap: 1rem;
        margin-block: 2rem;
        .select {
          position: relative;
          .option {
            width: 294px;
            height: calc(75px - 5px * 2);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 20px;
            font-size: 30px;
            border-radius: 50px;
            span {
              font-weight: bolder;
              letter-spacing: 3px;
            }
            i {
              font-size: 40px;
            }
          }
          .s-content {
            position: absolute;
            z-index: 5;
            top: 62px;
            width: 97%;
            display: flex;
            flex-direction: column;
            border-radius: none;
            div {
              height: 30px;
              padding: 5px 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50px;
            }
          }
        }
        .question {
          position: relative;
          z-index: 3;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 3px solid black;
          background: #4459a8;
          margin-left: auto;
          margin-right: 120px;
          i {
            font-size: 36px;
          }
        }
      }
      .bottom {
        position: relative;
        z-index: 1;
        height: calc(100vh - 80px - 2rem * 2);
        overflow-y: auto;
        padding-bottom: 4rem;
        &::-webkit-scrollbar {
          width: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #719ad0; /* 滑塊顏色 */
          border-radius: 4px; /* 滑塊圓角 */
          border: 2px solid #ddd; /* 滑塊邊框 */
        }
        &::-webkit-scrollbar-track {
          background: #f1f1f1; /* 背景顏色 */
          border-radius: 8px; /* 背景圓角 */
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #45a049; /* 滑塊顏色懸停 */
        }
      }
    }
  }
  .layout-bg-right {
    flex-shrink: 0;
    background: rgb(var(--accent-color));
    width: 476px;
    position: relative;
    padding: 41px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .nav {
      width: 100%;
      display: flex;
      .nav-btn {
        flex-grow: 1;
        height: 150px;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
        svg {
          font-size: 70px;
        }
        &.active {
          width: 246px;
        }
      }
    }
    .pet-select-list {
      > div {
        &:nth-child(odd) {
          background-color: rgba(var(--primary-color), 0.5);
        }
        &:nth-child(even) {
          background-color: rgba(var(--primary-color), 0.2);
        }
        &:first-child {
          background-color: rgb(var(--primary-color));
          border-radius: 12px 12px 0 0;
        }
      }
    }
    .skill {
      flex-grow: 1;
      padding: 16px;
      line-height: 2;
      background-color: rgb(var(--body));
    }
  }
}

// 黑色border外框
.black-block {
  position: relative;
  z-index: 1;
  background: rgb(var(--body));
  border: 3px solid rgb(var(--black));
  border-radius: 16px;
  box-shadow: 5px 5px rgba(var(--black), 0.5);
  cursor: pointer;
}

// card
.monster {
  width: 200px;
  height: 220px;
  border-radius: 30px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 2px;
  img {
    height: 150px;
  }
  input[type="checkbox"] {
    display: none;
  }
  .title {
    position: absolute;
    bottom: -16px;
    width: min-content;
    border-radius: 10px;
    box-shadow: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-width: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px 16px;
  }
  .prop {
    padding-block: 1rem;
    display: flex;
    gap: 6px;
    span {
      color: white;
      width: 35px;
      height: 15px;
      font-size: 8px;
      border-radius: 50px;
      background-color: rgb(var(--primary-color));
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.active {
    background: #ffcc00;
  }
}
